#testimonial{
    padding: 40px 0;
}
#testimonial .container-fluid{
    padding:80px;
   

}
#testimonial .img-box{
    width:135px;
    height:135px;
}
#testimonial .carousel-indicators{
    top:250px
}

/* #testimonial .carousel-control-prev{
    
    background:#D0A24C
}
#testimonial .carousel-control-next{
    
    background:#D0A24C
   
} */


