body, html {
	font-family: 'DIN-Medium', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	font-weight: 400;
	width: 100% !important;
	height: 100% !important;
}
h2, h3, h4 {
	font-family: "DIN-Medium", sans-serif;
	
}
h2 {
	text-transform: uppercase;
	margin: 0 0 20px 0;
	font-weight: 800;
	font-size: 22px;
	color: #D0A24C;
}
h3 {
	font-size: 14px;
	font-weight: 600;
	color: #D0A24C;
}
h4 {
	font-size: 12px;
	color: #D0A24C;
	font-weight: 600;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 10px;
	font-family: 'Open Sans',sans-serif
}
p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #D0A24C;
	font-weight: 400;
}
a:hover, a:focus {
	text-decoration: none;
	color: #D0A24C;
}
ul, ol {
	list-style: none;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
hr {
	height: 2px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #1E7A46;
	margin-bottom: 20px;
	border: 0;
}
/* Navigation */
/* @media (min-width: 1000px){
.navbar-changes{
	background-color: #3f4448;
	
	
}}
@media (min-width: 1000px){
.navbar-transparent{
	background-color: transparent;
	
		
}}
@media (min-width:768px){
.navbar-transparent{
		background-color: #3f4448;	
			
	}
}
@media (min-width:768px){
	.navbar-changes{
			background-color: #3f4448;	
				
		}
	
}
@media (max-width:600px){
	.navbar-changes{
			background-color: #3f4448;	
				
		}
	
}
@media (max-width:600px){
	.navbar-transparent{
			background-color: #3f4448;	
				
		}
	}


 @media (max-width: 600px){
#nav-link{
	color: #FFFFFF;
	
}
 }
 @media (min-width: 768px){
	#nav-link{
		color: #FFFFFF;
		font-size:18px;
		white-space: nowrap;
		padding-top: 10px;
		padding-bottom: 10px;
		font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 2px;
		padding: 15px;
	}
	 }
	 @media (min-width: 1000px){
		#nav-link{
			color: #FFFFFF;
			font-size:18px;
			white-space: nowrap;
			padding-top: 10px;
			padding-bottom: 10px;
			font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 2px;
			padding: 15px;
		}
		 } */
	 
			#nav-link{
				color: #D0A24C;
				font-size:14px;
				white-space: nowrap;
				padding-top: 10px;
				padding-bottom: 10px;
				font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
				font-weight: 600;
				text-transform: uppercase;
				letter-spacing: 1px;
				padding: 15px;
			}
		

		.nav-scroll{
			background-color:#231f20 ;
			box-shadow: 0 0 50px #ffffff;
			
		}
		.nav-nonscroll{
			background-color: transparent;
		}
		
		.dropdown-menu a {
			background: #231f20;
			padding:10px;
			color:#D0A24C;
			font-size:12px;
			font-weight:600;
			font-family:"DIN-Medium", sans-serif;
			letter-spacing: 1px;
			text-align: center;
			

		}
		.dropdown-menu a:hover{
			background:#D0A24C;
			
		}
        .dropdown-menu.show {
            
			padding:0px
			
        }
        
        .dropdown-menu a:active {
            color: #D0A24C;
            text-decoration: none;
			background-color: #231f20;
			
		}
		
/* #menu .dropbtn {
 
	font-family: 'Marcellus SC',serif;
    text-transform: uppercase;
    color: #555;
    font-size: 15px;
    font-weight: 400;
    padding: 8px 2px;
    border-radius: 0;
    margin: 9px 20px 0 20px;
  }
  
#menu .dropdown {
	position: relative;
	display: inline-block;
  }
  
  #menu .dropdown-content {
	display: none;
	position: absolute;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  #menu .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	background-color: #fff;
    border-color: rgba(231, 231, 231, 0);
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
  }
#menu .dropdown-content a:hover {background-color: #ddd;}
#menu .dropdown:hover .dropdown-content {display: block;}
  

#menu {
	padding: 15px;
	transition: all 0.8s;
}
#menu.navbar-default {
	background-color: #fff;
	border-color: rgba(231, 231, 231, 0);
	box-shadow: 0 0 10px rgba(0,0,0,0.15)
}
#menu a.navbar-brand {
	font-family: 'Marcellus SC',seriff;
	font-size: 24px;
	font-weight: 700;
	color: #333;
	text-transform: uppercase;
}
#menu.navbar-default .navbar-nav > li > a {
	font-family: 'Marcellus SC',serif;
	text-transform: uppercase;
	color: #555;
	font-size: 15px;
	font-weight: 400;
	padding: 8px 2px;
	border-radius: 0;
	margin: 9px 20px 0 20px;
}
#menu.navbar-default .navbar-nav > li > a:after {
	display: block;
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 0;
	height: 2px;
	background-color: #cabe9f;
	content: "";
	transition: width 0.2s;
}
#menu.navbar-default .navbar-nav > li > a:hover:after {
	width: 100%;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:after, .navbar-default .navbar-nav > .active > a:hover:after, .navbar-default .navbar-nav > .active > a:focus:after {
	display: block !important;
	position: absolute !important;
	left: 0 !important;
	bottom: -1px !important;
	width: 100% !important;
	height: 2px !important;
	background-color: #cabe9f;
	content: "" !important;
	transition: width 0.2s !important;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #fff;
	border-color: #cabe9f;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #cabe9f;
}
.section-title {
	margin-bottom: 70px;
}
.section-title h2 {
	position: relative;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
.section-title h2::after {
	position: absolute;
	content: "";
	background-color: #cabe9f;
	height: 4px;
	width: 60px;
	bottom: 0;
	margin-left: -30px;
	left: 50%;
}
.section-title p {
	font-size: 18px;
}
.btn-custom {
	font-family: 'Marcellus SC',seriff;
	text-transform: uppercase;
	color: #fff;
	background-color: #cabe9f;
	
	padding: 14px 34px;
	letter-spacing: 1px;
	margin: 0;
	font-size: 15px;
	font-weight: 500;
	border-radius: 25px;
	transition: all 0.5s linear;
	border: 0;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
	color: #fff;
	background-image: none;
	background-color: #cabe9f;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
} */
/* Header Section */
	/*  .intro {
		display: table;
		width: 100%;
		padding: 0;
		background: url(../img/banner-2.jpg) center center no-repeat;
		background-color: #e5e5e5;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;
	} */
.intro .overlay {
	background: rgba(0,0,0,0.2);
}
.intro h1 {
	font-family: "DIN-Medium", sans-serif;
	color: #fff;
	font-size: 82px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 10px;
}
.intro h1 span {
	font-weight: 800;
	color: #D0A24C;
}
.intro p {
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	line-height: 30px;
	margin: 0 auto;
	margin-bottom: 60px;
}
header .intro-text {
	padding-top: 300px;
	padding-bottom: 200px;
	text-align: center;
}
/* Features Section */
#features {
	padding: 140px 0;
	background: #f6f6f6;
}
#features i.fa {
	font-size: 24px;
	margin-bottom: 20px;
	transition: all 0.5s;
	color: #fff;
	width: 100px;
	height: 100px;
	padding: 30px 0;
	border-radius: 50%;
	background-color: #cabe9f;
	box-shadow: 10px 10px 10px rgba(0,0,0,.05);
}
/* About Section */
#about {
	padding: 120px 0;
}

.about-para{
	font-size: 14px;
	font-family: 'Open Sans',sans-serif;
	color:#9EA0A6;
	letter-spacing: .35px;
	font-weight: 400;
	line-height: 1.857;
}

/* Project Section */
#project{
	padding:120px 0
	
}

#project h2 {
	position: relative;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
#project h2::after {
	position: absolute;
	content: "";
	background-color: #D0A24C;
	height: 4px;
	width: 60px;
	bottom: 0;
	left: 0;
}


#img-project{
	width: 520px;
	margin-top: 10px;
	background: #fff;
	border-right: 0;
	border-radius: 10px;
	box-shadow: 0 0 50px rgba(0,0,0,0.06);
}
#project p {
	font-size: 14px;
	font-family: 'Open Sans',sans-serif;
	color:#9EA0A6;
	letter-spacing: .35px;
	font-weight: 400;
	line-height: 1.857;
}
/* Services Section */
#services {
	padding: 120px 0;
	
	color:#D0A24C
}
#services .service-desc {
	margin: 10px 10px 20px;
}

#services .section-title h2::after {
	position: absolute;
	content: "";
	background: rgba(255,255,255,.3);
	height: 4px;
	width: 60px;
	bottom: 0;
	margin-left: -30px;
	left: 50%;
}
#services i.fa {
	font-size: 42px;
	width: 120px;
	height: 120px;
	padding: 40px 0;
	background-color: #ffffff;
	border-radius: 50%;
	color: #cabe9f;
	box-shadow: 10px 10px 10px rgba(0,0,0,.05);
}
#services h3 {
	font-weight: 500;
	padding: 5px 0;
	color: #D0A24C;
}

#services .service-desc {
	margin-bottom: 40px;
}

/* faqs section */
#faqs {
	padding: 120px 0;
}
#faqs h3 {
	font-size: 16px;
	margin: 0 0 20px 0;
}
#faqs h2 {
	position: relative;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
/* #faqs h2::after {
	position: absolute;
	content: "";
	background-color: #cabe9f;
	height: 4px;
	width: 60px;
	bottom: 0;
	left: 50%;
} */
#faqs .faqs-text li {
	margin-bottom: 6px;
	margin-left: 6px;
	list-style: none;
	padding: 0;
}
#faqs .faqs-text li:before {
	content: '\f00c';
	font-family: "DIN-Medium"; 
	color: #D0A24C;
	font-size: 11px;
	font-weight: 300;
	padding-right: 8px;
}
/* #faqs img {
	width: 520px;
	margin-top: 10px;
	background: #fff;
	border-right: 0;
	box-shadow: 0 0 50px rgba(0,0,0,0.06);
} */
#faqs p {
	line-height: 24px;
	margin: 30px 0;
}
#faqs summary::-webkit-details-marker {
	color: #D0A24C;
  }

#faqs summary:focus {
	outline-style: none;
  }
/* Portfolio Section */
#portfolio {
	padding: 140px 0;
}
.portfolio-item {
	margin: 1px -15px 0 -14px;
	padding: 0;
}
.portfolio-item .hover-bg {
	overflow: hidden;
	position: relative;
	margin: 0;
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #fff;
	background-color: #cabe9f;
	padding: 30% 0 0 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	opacity: 0;
	color: #fff;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: 500;
	text-transform: uppercase;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}
/* Testimonials Section */
/* .testimonials {
	padding: 140px 0;
	background: #f6f6f6;
} */
/* .slider-area{
	background:#262626;
	padding:50px 0;
	position: relative;
	margin:140px 0;
}

.img-area{
width:100px;
height:100px;
margin:auto;
border:2px solid #fff;
border-radius:50%;
overflow:hidden;

}
.img-area img{
	width:100%;
}
#captions{
	position: static;
	padding-bottom: 15px;
	padding-top: 0;
	
}
#captions h5{
	
	font-size:26px;
	margin-bottom: 15px;
	margin-top:25px;
	color:#D0A24C;
	top:200px
	
}
#captions p{
	font-size:18px;
	margin:auto;
	width:70%;
	margin-bottom: 10px;
	color:#D0A24C
}
.carousel-indicators {
	top:100px
}
.carousel-item .active{
	border:2px solid #fff
}
 */


/* Contact Section */
#contact {
	padding: 120px 0;
	background-color: #ffffff;
	color: #D0A24C;
}
#contact .section-title {
	margin-bottom: 40px;
}
#contact .section-title p {
	font-size: 12px;
}
#contact h2 {
	color: #D0A24C;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
#contact .section-title h2::after {
	position: absolute;
	content: "";
	background: #D0A24C;
	height: 4px;
	width: 60px;
	bottom: 0;
	left: 30px;
}
#contact h3 {
	color: #D0A24C;
	margin-top: 80px;
	margin-bottom: 25px;
	padding-bottom: 20px;
	font-weight: 400;
}
#contact form {
	padding-top: 20px;
}
#contact .text-danger {
	color: #cc0033;
	text-align: left;
}
#contact .btn-custom {
	margin: 30px 0;
	color: #D0A24C;
	background: #231f20;
	
}
#contact .btn-custom:hover {
	color: #1f386e;
	background: #D0A24C;
}
#contact span{
	color:#000000;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Quattrocento Sans', sans-serif;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.42857143;
	color: #444;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ddd;
	border-radius: 15px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: #999;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #777;
}
.form-control:-moz-placeholder {
color: #777;
}
.form-control::-moz-placeholder {
color: #777;
}
.form-control:-ms-input-placeholder {
color: #777;
}
@media (min-width: 768px){
#contact .container-fluid{
	display: flex;
	
}}
@media (min-width: 768px){
	#contact .container{
		display: flex;
		
	}}
#contact .contact-item {
	margin: 20px 0;
}
#contact .contact-item span {
	color: #D0A24C;
	margin-bottom: 10px;
	display: block;
}
#contact .contact-item i.fa {
	margin-right: 10px;
}
/* #contact .social {
	border-top: 1px solid #D0A24C;
	padding-top: 50px;
	margin-top: 50px;
	text-align: center;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact .social i.fa {
	font-size: 22px;
	width: 48px;
	height: 48px;
	padding: 12px 0;
	border: 2px solid #D0A24C;
	color: #D0A24C;
	border-radius: 50%;
	transition: all 0.3s;
}
#contact i.fa:hover {
	color: #231f20;
	
}
#contact i.fa:after{
	content: attr(data-text);
} */
.contact-page{
position: relative;
width:1200px;
height:300px;
margin:240px auto;


}
.contact-page .box{
position: relative;
width:calc(400px - 30px);
height:calc(300px - 30px);
/* background: #D0A24C; */
float:left;
margin:15px;
box-sizing: border-box;
overflow: hidden;
border-radius: 10px;

}
.contact-page .box .icon{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
/* 	background:#231f20; */
	transition: 0.5s;
	z-index: 1;


}
.contact-page .box:hover .icon{
	top:20px;
	left:calc(50% - 40px);
	width:80px;
	height:80px;
	border-radius:50%

}
.contact-page .box .icon .fa{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	font-size: 80px;
	transition: 0.5s;
	
}

.contact-page .box:hover .icon .fa{
	font-size:40px;
}
.contact-page .box .content{
	position: absolute;
	top:100%;
	height:calc(100% - 100px);
	text-align: center;
	padding: 20px 120px 20px;
	box-sizing: border-box;
	transition: 0.5s;
	opacity:0

}
.contact-page .box:hover .content{
	top:100px;
	opacity:1
}
.contact-page .box .content h4{
	margin: 0 0 10px;
	padding:0;
	color:#231f20;
	font-size:24px;
	font-weight: 600;

}
.contact-page .box .content p{
	margin:0;
	padding:0;
	color:#231f20;
	font-weight: 600;
	
}
/* Footer Section*/
#footer {
	background:#231f20;
	padding: 30px 0;
}
#footer p {
	color: #888;
	font-size: 14px;
}
#footer a {
	color: #D0A24C;
}
#footer a:hover {
	border-bottom: 2px solid #D0A24C;
}
.social-media{
	background:#231f20;
}
.social-media p{
	color:#fff
}
.social-media .icons .fa{
color:#D0A24C;
}

.social-media .icons a:nth-child(1) .fa:hover{
	color: #3b5999
}
.social-media .icons a:nth-child(2) .fa:hover{
	color: #55acee
}
.social-media .icons a:nth-child(3) .fa:hover{
	color: #e4405f
}
.social-media .icons a:nth-child(4) .fa:hover{
	color: #25D366
}
@media (max-width: 768px) {
#about img {
	margin: 50px 0;
}
}
#footer p {
	font-size: 12px;
	font-family: 'Open Sans',sans-serif;
	color:#ffffff;
	letter-spacing: .35px;
	font-weight: 400;
	line-height: 1.857;
}



/* carousel */

.carousel-caption{
	top:60%;
	transform: translateY(-50%);
	bottom:initial !important;
	
	max-width: 600px;
	position: absolute !important;
	display:block;
	 margin-left:auto;
	margin-right:auto
}


.intro p{
	font-weight:600;
	font-size:22px;
	color: #000000;
}
.carousel-caption h3{
	font-weight:600;
	font-size:70px;
	color: #000000;
}
.carousel-caption button{
	background-color: #231f20;
	color:#D0A24C;
	font-size:30px;
	text-transform: uppercase;
	
	
}

/* .iframe-container {
	overflow: hidden;
	
	padding-top: 56.25%;
	position: relative;
  }
   
  .iframe-container iframe {
	 border: 0;
	 height: 100%;
	 left: 0;
	 position: absolute;
	 top: 0;
	 width: 100%;
  } */
  .iframe-container{
	
		margin: 0 auto;
		display: block;
	  
  }
