body, html {
	font-family: 'DIN-Medium', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	font-weight: 400;
	width: 100% !important;
	height: 100% !important;
}
h2, h3, h4 {
	font-family: "DIN-Medium", sans-serif;
	
}

h2 {
	text-transform: uppercase;
	margin: 0 0 20px 0;
	font-weight: 800;
	font-size: 22px;
	color: #D0A24C;
}
h3 {
	font-size: 14px;
	font-weight: 600;
	color: #D0A24C;
}
h4 {
	font-size: 12px;
	color: #D0A24C;
	font-weight: 600;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 10px;
	font-family: 'Open Sans',sans-serif
}
p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #D0A24C;
	font-weight: 400;
}
a:hover, a:focus {
	text-decoration: none;
	color: #D0A24C;
}
ul, ol {
	list-style: none;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
hr {
	height: 2px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #1E7A46;
	margin-bottom: 20px;
	border: 0;
}

#navi {
	border: 1.5px solid rgb(204, 159, 75); /* nav-change */
}

/* Navigation */
#nav-padding{
	/* margin:10px 50px 10px */
}

#nav-link{
color: #D0A24C;
font-size: 12px;
white-space: nowrap;
padding-top: 10px;
padding-bottom: 10px;
font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
font-weight: 600;
text-transform: uppercase;
letter-spacing: 1px;
padding: 10px;
}


.nav-scroll{
background-color:#231f20;
box-shadow: 0 0 50px #ffffff;
			
}
.nav-nonscroll{
	background-color: transparent;
			
}
		
		.dropdown-menu a {
			background: #231f20;
			padding:10px;
			color:#D0A24C;
			font-size:12px;
			font-weight:600;
			font-family:"DIN-Medium", sans-serif;
			letter-spacing: 1px;
		
		}
		.dropdown-menu a:hover{
			background:#D0A24C;
			
		}
        .dropdown-menu.show {
			padding:0px;
			min-width: 11rem; /* nav-change */
			
		}
		@media (max-width: 2560px){ 
		.dropdown-menu.show {
			padding: 0px;
			min-width: 19rem;
			left: 100;
		}

		.dropdown-menu a {
			text-align: center;
		}
	}


	@media (max-width: 2304px){
		.dropdown-menu.show{
			padding: 0px;
		min-width: 17rem;
		left: 70;
		}
	}


	@media (max-width: 2048px){
		.dropdown-menu.show{
			padding: 0px;
		min-width: 16rem;
		left: 55;
		}
	}

	@media (max-width: 1921px){
		.dropdown-menu.show{
			padding: 0px;
		min-width: 15rem;
		left: 40;
		}
	}


	@media (max-width: 1680px){
		.dropdown-menu.show{
			padding: 0px;
		min-width: 13rem;
		left: 24;
		}
	}
		
		@media (max-width: 1440px){  /* nav-change */
			.dropdown-menu.show {
				padding:0px;
				min-width: 12rem;
				left: 15;
			}
		}

		@media (max-width: 1352px){  /* nav-change */
			.dropdown-menu.show {
				padding:0px;
				left: 39;
			}
		}

		@media (max-width: 1333px){  /* nav-change */
			.dropdown-menu.show {
				padding:0px;
				left: 39;
			}
		}

		@media (max-width: 1240px){  /* nav-change */
			.dropdown-menu.show {
				padding:0px;
				left: 17;
				min-width: 9rem;
			}
		}

		@media (max-width: 1024px){  /* nav-change */
			.dropdown-menu.show {
				padding:0px;
				left: 2;
				min-width: 8rem;
			}
		}

		@media (max-width: 768px){  /* nav-change */
			.dropdown-menu.show {
				text-align: center;
			}
		}

		@media (max-width: 425px){  /* nav-change */
			.dropdown-menu.show {
				text-align: center;
			}
		}
        
        .dropdown-menu a:active {
            color: #D0A24C;
            text-decoration: none;
			background-color: #231f20;
		}

		.nav-link:active {
			border-bottom: 2px solid #D0A24C;
		  }
		 
		  @media (max-width: 1024px){
			.nav-link:active {
				border-bottom: 0;  /* nav-change */
			  }
			  #nav-link:hover {
				text-decoration: underline; /* nav-change */
			}
		  }

		  @media (max-width: 990px){
			#nav-link:hover {
				text-decoration: underline; /* nav-change */
				font-size: 12px; /* nav-change */
			}
		  }

		  
	 
		#logo-img {
			width: 170;
		}

		#bttn-pad{
			padding-left: 5px; /* nav-change */
			text-align: center; /* nav-change */
			padding-bottom: 10px; /* nav-change */
		}

	
		
		@media (max-width: 1024px){
			#logo-img {
				width: 140;
			}
		}


		@media (max-width: 2560px){
		#nav-link {
			margin-left: 140px;
			font-size: 18px;
		}
		#bttn-pad {
			padding-left: 65px;
		}
	}

	@media (max-width: 2304px){
		#nav-link {
			margin-left: 100px;
			font-size: 18px;
		}
		#bttn-pad {
			padding-left: 65px;
		}
	}

	@media (max-width: 2048px){
		#nav-link {
			margin-left: 70px;
			font-size: 18px;
		}
		#bttn-pad {
			padding-left: 65px;
		}
	}

	@media (max-width: 1921px){
		#nav-link {
			margin-left: 60px;
			font-size: 17px;
		}
		#bttn-pad {
			padding-left: 35px;
		}
	}

	@media (max-width: 1680px){
		#nav-link {
			margin-left: 40px;
			font-size: 14px;
		}
		#bttn-pad {
			padding-left: 25px;
		}
	}

@media (max-width: 1440px){
	#nav-link {
		margin-left: 20px;
		
	}
}



		@media (max-width: 1352px){
			#nav-link{
				margin-left: 29px; /* nav-change */
			}
			#logo-img {
				width: 150;
			}
		}

		@media (max-width: 1333px){
			#nav-link{
				margin-left: 27px; /* nav-change */
			}
		}

		@media (max-width: 1240px){
			#nav-link {
				color: #D0A24C;
				font-size: 10px; /* nav-change */
				white-space: nowrap;
				padding-top: 10px;
				padding-bottom: 10px;
				font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
				font-weight: 600;
				text-transform: uppercase;
				letter-spacing: 1;
				padding: 18px
			}
		}

		@media (max-width: 1024px){
			#nav-link {
				color: #D0A24C;
				font-size: 10px;
				white-space: nowrap;
				padding-top: 10px;
				padding-bottom: 10px;
				font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
				font-weight: 600;
				text-transform: uppercase;
				letter-spacing: 1;
				padding: 10px;
				text-align: center; /* nav-change */
				margin-left: 0px;
			}
		}

	
		@media (max-width: 990px){
			.navbar-nav {
				background: #231f20; /* nav-change */
				border-radius: 10px; /* nav-change */
			}
		}

		button.navbar-toggler {
			background-color: #cfa04a;
		}


.intro .overlay {
	background: rgba(0,0,0,0.2);
}
.intro h1 {
	font-family: "DIN-Medium", sans-serif;
	color: #fff;
	font-size: 82px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 10px;
}
.intro h1 span {
	font-weight: 800;
	color: #D0A24C;
}
.intro p {
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	line-height: 30px;
	margin: 0 auto;
	margin-bottom: 60px;
}
header .intro-text {
	padding-top: 300px;
	padding-bottom: 200px;
	text-align: center;
}
#padTwenty{
	padding-top: 20px;
}
#home-aboutus-img{
	background-image: url("https://demo2wpopal.b-cdn.net/maisonco/wp-content/uploads/2019/05/landing_bg1.png");
	background-size: cover;
}

/* About Section */
#about {
	padding: 100px 0 20px 0;
}

.about-para{
	font-size: 14px;
	font-family: 'Open Sans',sans-serif;
	color:#9EA0A6;
	letter-spacing: .35px;
	font-weight: 400;
	line-height: 1.857;
}

#project-home{
	padding: 20px 0 20px 0;
	background-image: url("https://demo2wpopal.b-cdn.net/maisonco/wp-content/uploads/2019/05/landing_bg2.png");
	background-size: cover;
	background-color: #231f20;
}

#project-home h2 {
	position: relative;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
#project-home h2::after {
	position: absolute;
	content: "";
	background-color: #D0A24C;
	height: 4px;
	width: 60px;
	bottom: 0;
	left: 0;
}

#img-project-home{
	width: 520px;
	margin-top: 10px;
	background: #fff;
	border-right: 0;
	border-radius: 10px;
	box-shadow: 20px 20px #D0A24C;
}

@media (max-width: 1200px){
	#img-project-home{
		width: 450px;
		margin-top: 10px;
		background: #fff;
		border-right: 0;
		border-radius: 10px;
		box-shadow: 0 0 50px #D0A24C;
	}
		
	}

@media (max-width: 1130px){
	#img-project-home{
		width: 430px;
		margin-top: 10px;
		background: #fff;
		border-right: 0;
		border-radius: 10px;
		box-shadow: 0 0 50px #D0A24C;
	}
		
	}

@media (max-width: 990px){
	#img-project-home{
		width: 300px;
		margin-top: 10px;
		background: #fff;
		border-right: 0;
		border-radius: 10px;
		box-shadow: 0 0 50px #D0A24C;
	}
		
	}

	@media (max-width: 768px){
		#img-project-home{
			width: 340px;
			margin-top: 10px;
			background: #fff;
			border-right: 0;
			border-radius: 10px;
			box-shadow: 0 0 50px #D0A24C;
		}
		.project-home-text{
			padding-top: 20px;
		}	
		}

	@media (max-width: 574px){
		#img-project-home{
			width: 420px;
			margin-top: 10px;
			background: #fff;
			border-right: 0;
			border-radius: 10px;
			box-shadow: 0 0 50px #D0A24C;
		}	
		}

		@media (max-width: 440px){
			#img-project-home{
				width: 300px;
				margin-top: 10px;
				background: #fff;
				border-right: 0;
				border-radius: 10px;
				margin-left: 40px;
				box-shadow: 0 0 50px #D0A24C;
			}	
			}

			@media (max-width: 380px){
				#img-project-home{
					width: 300px;
					margin-top: 10px;
					background: #fff;
					border-right: 0;
					border-radius: 10px;
					margin-left: 20px;
					box-shadow: 0 0 50px #D0A24C;
				}	
				}

#project-home p {
	font-size: 14px;
	font-family: 'Open Sans',sans-serif;
	color:#9EA0A6;
	letter-spacing: .35px;
	font-weight: 400;
	line-height: 1.857;
}

/* Project Section */
#project{
	padding: 100px 0 20px 0;
}

#img-project-aboutus{
	background-image: url("url(https://demo2wpopal.b-cdn.net/maisonco/wp-content/uploads/2019/05/landing_bg1.png");
	background-size: cover;
	background-color: #231f20;
}

#project h2 {
	position: relative;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
#project h2::after {
	position: absolute;
	content: "";
	background-color: #D0A24C;
	height: 4px;
	width: 60px;
	bottom: 0;
	left: 0;
}

#img-project{
	width: 520px;
	margin-top: 10px;
	background: #fff;
	border-right: 0;
	border-radius: 10px;
	box-shadow: 0 0 50px rgba(0,0,0,0.06);
}

@media (max-width: 1200px){
	#img-project{
		width: 450px;
		margin-top: 10px;
		background: #fff;
		border-right: 0;
		border-radius: 10px;
		box-shadow: 0 0 50px rgba(0,0,0,0.06);
	}
		
	}

@media (max-width: 1130px){
	#img-project{
		width: 430px;
		margin-top: 10px;
		background: #fff;
		border-right: 0;
		border-radius: 10px;
		box-shadow: 0 0 50px rgba(0,0,0,0.06);
	}
		
	}

@media (max-width: 990px){
	#img-project{
		width: 300px;
		margin-top: 10px;
		background: #fff;
		border-right: 0;
		border-radius: 10px;
		box-shadow: 0 0 50px rgba(0,0,0,0.06);
	}
		
	}

	@media (max-width: 768px){
		#img-project{
			width: 340px;
			margin-top: 10px;
			background: #fff;
			border-right: 0;
			border-radius: 10px;
			box-shadow: 0 0 50px rgba(0,0,0,0.06);
		}
		.project-text{
			padding-top: 20px;
		}
			
		}

		
	@media (max-width: 574px){
		#img-project{
			width: 420px;
			margin-top: 10px;
			background: #fff;
			border-right: 0;
			border-radius: 10px;
			box-shadow: 0 0 50px rgba(0,0,0,0.06);
		}
			
		}

		@media (max-width: 440px){
			#img-project{
				width: 300px;
				margin-top: 10px;
				background: #fff;
				border-right: 0;
				border-radius: 10px;
				margin-left: 40px;
				box-shadow: 0 0 50px rgba(0,0,0,0.06);
			}
				
			}
			@media (max-width: 380px){
				#img-project{
					width: 300px;
					margin-top: 10px;
					background: #fff;
					border-right: 0;
					border-radius: 10px;
					margin-left: 20px;
					box-shadow: 0 0 50px rgba(0,0,0,0.06);
				}	
				}


#project p {
	font-size: 14px;
	font-family: 'Open Sans',sans-serif;
	color:#9EA0A6;
	letter-spacing: .35px;
	font-weight: 400;
	line-height: 1.857;
}

/* testimonial */
#testimonial{
    padding: 10px 0;
}
#testimonial .container-fluid{
    padding:40px;
   

}
#testimonial .img-box{
    width:135px;
    height:135px;
}
#testimonial .carousel-indicators{
    top:250px
}

/* faqs section */
#faqs {
	padding: 120px 0;
}
#faqs h3 {
	font-size: 16px;
	margin: 0 0 20px 0;
}
#faqs h2 {
	position: relative;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

#faqs .faqs-text li {
	margin-bottom: 6px;
	margin-left: 6px;
	list-style: none;
	padding: 0;
}
#faqs .faqs-text li:before {
	content: '\f00c';
	font-family: "DIN-Medium"; 
	color: #D0A24C;
	font-size: 11px;
	font-weight: 300;
	padding-right: 8px;
}

#faqs p {
	line-height: 24px;
	margin: 30px 0;
}
#faqs summary::-webkit-details-marker {
	color: #D0A24C;
  }

#faqs summary:focus {
	outline-style: none;
  }
 
/* Contact Section */
#contact {
	padding: 100px 0 20px 0;
	background-color: #ffffff;
	color: #D0A24C;
}

#contact .section-title p {
	font-size: 12px;
}
#contact h2 {
	color: #D0A24C;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
#contact .section-title h2::after {
	position: absolute;
	content: "";
	background: #D0A24C;
	height: 4px;
	width: 60px;
	bottom: 0;
	left: 30px;
}
#contact h3 {
	color: #D0A24C;
	font-weight: 400;
}
#contact form {
	padding-top: 20px;
}
#contact .text-danger {
	color: #cc0033;
	text-align: left;
}
#contact .btn-custom {
	margin: 30px 0;
	color: #D0A24C;
	background: #231f20;
	
}
#contact .btn-custom:hover {
	color: #1f386e;
	background: #D0A24C;
}
#contact span{
	color:#000000;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Quattrocento Sans', sans-serif;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.42857143;
	color: #444;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ddd;
	border-radius: 15px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: #999;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #777;
}
.form-control:-moz-placeholder {
color: #777;
}
.form-control::-moz-placeholder {
color: #777;
}
.form-control:-ms-input-placeholder {
color: #777;
}
@media (min-width: 768px){
#contact .container-fluid{
	display: flex;
	
}}
@media (min-width: 768px){
	#contact .container{
		display: flex;
		
	}}
#contact .contact-item {
	margin: 20px 0;
}
#contact .contact-item span {
	color: #D0A24C;
	margin-bottom: 10px;
	display: block;
}
#contact .contact-item i.fa {
	margin-right: 10px;
}

.container-iframes{
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: 36.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
.responsive-iframe {
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  @media (max-width: 767px){
	  #box{
		  padding-left: 15%;
	  }
  }



  @media (max-width: 375px){
#box {
    padding-left: 10%;
}
  }

.contact-page{
position: relative;
width:1200px;
height:300px;
margin:20px auto;
}

.contact-page .box{
position: relative;
width:calc(400px - 30px);
height:calc(300px - 30px);
float:left;
margin:15px;
box-sizing: border-box;
overflow: hidden;
border-radius: 10px;
}

.contact-page .box .icon{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	transition: 0.5s;
	z-index: 1;
}

.contact-page .box:hover .icon{
	top:20px;
	left:calc(50% - 40px);
	width:80px;
	height:80px;
	border-radius:50%

}
.contact-page .box .icon .fa{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	font-size: 80px;
	transition: 0.5s;
	
}

.contact-page .box:hover .icon .fa{
	font-size:40px;
}
.contact-page .box .content{
	position: absolute;
	top:100%;
	height:calc(100% - 100px);
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	transition: 0.5s;
	opacity:0

}

.contact-page .box:hover .content{
	top: 100px;
	opacity:1
}
.contact-page .box .content h4{
	margin: 0 0 10px;
	padding:0;
	color:#231f20;
	font-size:24px;
	font-weight: 600;

}
.contact-page .box .content p{
	margin:0;
	padding:0;
	color:#231f20;
	font-weight: 600;	
	font-size: 12px;
}

@media (max-width: 460px){
.contact-page .box {
    position: relative;
    width: calc(300px - 30px);
    height: calc(200px - 30px);
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}
}

@media (max-width: 2560px){
	#email-content{
		margin-left: 60px; /* new-change */
	}
}

@media (max-width: 1024px) {
	#email-content{
		margin-left: 30px; 
	}
	
}

@media (max-width: 768px) {
	#email-content{
		margin-left: 0px; 
	}
	
}

@media (max-width: 425px) {
	#email-content{
		margin-left: 25px; 
	}
	
}

@media (max-width: 460px){ 
	.contact-page .box:hover .content { /* new-change */
		top: 65px;
		opacity: 1;
	}
}

#services {
	padding-top: 100px;
}

/* Footer Section*/
#footer {
	background:#231f20;
	padding: 30px 0px 
}
#footer p {
	color: #888;
	font-size: 14px;
}
#footer a {
	color: #D0A24C;
}
#footer a:hover {
	border-bottom: 2px solid #D0A24C;
}
.social-media{
	background:#231f20;
}
.social-media p{
	color:#fff
}
.social-media .icons .fa{
color:#D0A24C;
}

.social-media .icons a:nth-child(1) .fa:hover{
	color: #3b5999
}
.social-media .icons a:nth-child(2) .fa:hover{
	color: #55acee
}
.social-media .icons a:nth-child(3) .fa:hover{
	color: #e4405f
}
.social-media .icons a:nth-child(4) .fa:hover{
	color: #25D366
}

#footer p {
	font-size: 12px;
	font-family: 'Open Sans',sans-serif;
	color:#ffffff;
	letter-spacing: .35px;
	font-weight: 400;
	line-height: 1.857;
}
#footer{
	padding: 0px 0px 10px
}

@media (max-width: 768px) {
	#about img {
		margin: 0px;
	}
	}


/* carousel */

.carousel-caption{
	top:60%;
	transform: translateY(-50%);
	bottom:initial !important;
	
	max-width: 600px;
	position: absolute !important;
	display:block;
	 margin-left:auto;
	margin-right:auto
}


.intro p{
	font-weight:600;
	font-size:22px;
	color: #000000;
}
.carousel-caption h3{
	font-weight:600;
	font-size:70px;
	color: #000000;
}
.carousel-caption button{
	background-color: #231f20;
	color:#D0A24C;
	font-size:30px;
	text-transform: uppercase;	
}

.iframe-container{
		margin: 0 auto;
		display: block;  
  }


  /* footer contact page */

  #contact-footer {
	padding: 100px 0 20px 0;
	background-color: #ffffff;
	color: #D0A24C;
}

#contact-footer .section-title p {
	font-size: 12px;
}
#contact-footer h2 {
	color: #D0A24C;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
#contact-footer .section-title h2::after {
	position: absolute;
	content: "";
	background: #D0A24C;
	height: 4px;
	width: 60px;
	bottom: 0;
	left: 30px;
}
#contact-footer h3 {
	color: #D0A24C;
	font-weight: 400;
}
#contact-footer form {
	padding-top: 20px;
}
#contact-footer .text-danger {
	color: #cc0033;
	text-align: left;
}
#contact .btn-custom {
	margin: 30px 0;
	color: #D0A24C;
	background: #231f20;
	
}
#contact-footer .btn-custom:hover {
	color: #1f386e;
	background: #D0A24C;
}
#contact-footer span{
	color:#000000;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Quattrocento Sans', sans-serif;
	float: left;
}
#contact-footer .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.42857143;
	color: #444;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ddd;
	border-radius: 15px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact-footer .form-control:focus {
	border-color: #999;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #777;
}
.form-control:-moz-placeholder {
color: #777;
}
.form-control::-moz-placeholder {
color: #777;
}
.form-control:-ms-input-placeholder {
color: #777;
}
@media (min-width: 768px){
	#contact-footer .container-fluid{
	display: flex;
	
}}
@media (min-width: 768px){
	#contact-footer .container{
		display: flex;
		
	}}
	#contact-footer .contact-item {
	margin: 20px 0;
}
#contact-footer .contact-item span {
	color: #D0A24C;
	margin-bottom: 10px;
	display: block;
}
#contact-footer .contact-item i.fa {
	margin-right: 10px;
}

  
.contact-page-footer{
	position: relative;
	width:1200px;
	height:150px;
	margin:20px auto;
	}
	
	.contact-page-footer .box{
	position: relative;
	width:calc(400px - 30px);
	height:calc(200px - 30px);
	float:left;
	margin: 0px 15px 0px;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 10px;
	}
	
	.contact-page-footer .box .icon{
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		transition: 0.5s;
		z-index: 1;
	}
	
	.contact-page-footer .box:hover .icon{
		top:20px;
		left:calc(50% - 40px);
		width:80px;
		height:80px;
		border-radius:50%
	
	}
	.contact-page-footer .box .icon .fa{
		position:absolute;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
		font-size: 40px;
		transition: 0.5s;
		
	}
	
	.contact-page-footer .box:hover .icon .fa{
		font-size:40px;
	}
	.contact-page-footer .box .content{
		position: absolute;
		top:100%;
		height:calc(100% - 100px);
		text-align: center;
		padding: 20px;
		box-sizing: border-box;
		transition: 0.5s;
		opacity:0
	
	}

	@media (max-width: 2560px){
		#email-content-footer{
			margin-left: 60px; /* new-change */
		}
	}

	@media (max-width: 1440px){
		#email-content-footer{
			margin-left: 50px; /* new-change */
		}
	}

	@media (max-width: 1024px){
		.contact-page-footer .box{
			position: relative;
			width:calc(400px - 30px);
			height:calc(200px - 30px);
			float:left;
			margin: 0px;
			box-sizing: border-box;
			overflow: hidden;
			border-radius: 10px;
			}
	.contact-page-footer .box .content{
		position: absolute;
		top:100%;
		height:calc(100% - 100px);
		text-align: center;
		padding: 10px;
		box-sizing: border-box;
		transition: 0.5s;
		opacity:0
	
	}
	#email-content-footer{
		margin-left: 50px; /* new-change */
	}
}

@media (max-width: 768px){
	.contact-page-footer .box .content{
		position: absolute;
		top:100%;
		height:calc(100% - 100px);
		text-align: center;
		padding: 5px;
		box-sizing: border-box;
		transition: 0.5s;
		opacity:0
	
	}

	#email-content-footer{
		margin-left: 20px; /* new-change */
	}
}
	
	.contact-page-footer .box:hover .content{
		top: 80px;
		opacity:1
	}
	.contact-page-footer .box .content h4{
		margin: 0 0 10px;
		padding:0;
		color:#231f20;
		font-size:24px;
		font-weight: 600;
	
	}
	.contact-page-footer .box .content p{
		margin:0;
		padding:0;
		color:#231f20;
		font-weight: 600;	
		font-size: 12px;
	}
	
	@media (max-width: 460px){
	.contact-page-footer .box {
		position: relative;
		width: calc(300px - 30px);
		height: calc(200px - 30px);
		float: left;
		margin: 15px;
		box-sizing: border-box;
		overflow: hidden;
		border-radius: 10px;
	}
	}

	@media (max-width: 460px){ 

		#email-content-footer{
			margin-left: 30px; /* new-change */
		}
		.contact-page-footer .box:hover .content { /* new-change */
			top: 85px;
			opacity: 1;
		}
	}

/* 	project-map */

#project-map {
	margin:0px;
	padding:0px
}
#project-map .a-tags{
	background:#D0A24C;
	color:#ffffff;
	font-size:16px;
	margin:0px 80px 10px;
	border-radius: 10px;
	padding:10px;

}
#project-map a{
	margin:5px
}
#project-map img{
	margin:0px;
	padding:0px
}

